<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserLogin</servlet-name>
  	<display-name>UserLogin</display-name>
  	<description></description>
  	<servlet-class>com.ecommerce.user.UserLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomePage</servlet-name>
  	<display-name>HomePage</display-name>
  	<description></description>
  	<servlet-class>com.ecommerce.user.HomePage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPasswordbyLink</servlet-name>
  	<display-name>ForgotPasswordbyLink</display-name>
  	<description></description>
  	<servlet-class>com.ecommerce.user.Forgotpasswordbymail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductLogin</servlet-name>
  	<display-name>ProductLogin</display-name>
  	<description></description>
  	<servlet-class>com.ecommerce.product.ProductLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductResgistration</servlet-name>
  	<display-name>ProductResgistration</display-name>
  	<description></description>
  	<servlet-class>com.ecommerce.product.ProductResgistration</servlet-class>
  </servlet>
  
 <servlet-mapping>
  	<servlet-name>UserLogin</servlet-name>
  	<url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomePage</servlet-name>
  	<url-pattern>/HomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPasswordbyLink</servlet-name>
  	<url-pattern>/ForgotPasswordbyLink</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductLogin</servlet-name>
  	<url-pattern>/ProductLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductResgistration</servlet-name>
  	<url-pattern>/ProductResgistration</url-pattern>
  </servlet-mapping>

</web-app>
